@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  margin: 0;
  margin-top: 50vh;
  margin-bottom: 100vh;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
